
.app {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}
.input-inner .input-title {
  height: 100px;
  padding: 25px;
  background-color: black;
  border-radius: 20px;
}
.input-inner h2 {
  text-align: center;
  margin-top: 30px;
  height: 100%;
  color: aqua;
}
.input-container {
  text-align: center;
  padding-top: 30px;
  border-bottom: 1px solid #5e5e5e;
  height: 60px;
  
}
.input-container input {
  margin-right: 10px;
}
.user-inner {
  margin: 0 auto;
}
.user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}